<!DOCTYPE html>
<html>
<head>
  <meta conent='ja' http-equiv='Content-Language'>
  <meta charset='utf-8' conent='text/html' http-equiv='Content-Type'>
  <meta conent='text/css' http-equiv='Content-Style-Type'>
  <meta conent='text/javascript' http-equiv='Content-Script-Type'>
  <meta conent='no' http-equiv='Imagetoolbar'>
  <meta conent='<%= Blog.description %>' name='Description'>
  <meta conent='<%= Blog.keywords %>' name='Keywords'>
  <meta conent='<%= Blog.author %>' name='Author'>
  <title>Whisper</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
